.container{
    max-width: 1400px;
    // width:fit-content;
    padding: 0px 20px;
    margin: 0 auto;
}

.header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all ease .8s;

    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #FFF;


    &_active{

        transition: all ease .8s;

        // & .nav{
        //     padding: 5px 0px;
        //     transition: all ease .8s;
        // }

    }


}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    transition: all ease .8s;

    @media screen and (max-width: 800px ) {
        padding: 15px 0px;
    }

    &__ver{
        width: 24px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    &__btn{
        border-radius: 8px;
        background: var(--Brand-Orange-Primary, #386AEA);
        padding: 11px 23px;
        color: var(--Label-Onsurface, #FFF);
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 14.4px */
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all ease .3s;

        &:hover{
        background: var(--Brand-Orange-Primary, #315cc9);
        }
    }

}

.nav__ul{
    display: flex;
    align-items: center;
    gap: 20px;
}


.nav__ul_link a{

    color: #1E1E1E;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-decoration: none;
    animation: fadeLink .7s ;
    transition: all ease .3s;

    &:hover{
        color: #386AEA;
    }

    @media screen and (max-width: 900px ) {
        font-size: 18px;   
    }

}

.active{
    color: #386AEA ;
    font-size: 20px;
}


.burger {
    display: none;
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@media screen and (max-width: 1100px ) {


    .nav__ul{
        display: none;
        position: absolute; 
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: max-content;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        z-index: 99 !important ;  
        box-shadow: 0px 100px 100px #0000007b;
        margin-top: 70px !important;
        gap: 0 !important;

        

        & .nav__ul_link{
            // animation: fadeLink .7s !important;
            padding: 20px 0px;
            width: 100%;
            text-align: center;
            border-top: 1px solid rgba(0, 0, 0, 0.06);
            
        }

        & .nav__ul_link a{
            color: #000;
        }


        &_active {
            display: flex;
            opacity: 1;
        }
        
    }

    @keyframes fadeLink {
        0%{
            transform: translateY(300px);
            opacity: 0;
        }
    
        100%{
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;

        &_active_burger {
            &:before {
                background: #000  !important;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 11px !important;
            }
    
            &:after {
                background: #000  !important;
    
                transform: rotate(-45deg);
                bottom: 7px !important;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }
    
            & span {
                transform: scale(0);
                display: none;
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: #1B1C1F;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: #1B1C1F;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
}